:root {
    --textbg-inner: #8C7952;
    --textbg-outer: #5D4F35;
    --namebg-left: #FDAC21;
    --namebg-right: #FD760D;
    --bg-tile: #FCE92E;
    --font-color: #FFFFFF;
    --text-container-width: 1000px;
    --text-container-height: 200px;
    --bg-tile-width: calc(var(--text-container-width) - 30px);
    --bg-tile-height: calc(var(--text-container-height) + 10px);
    --char-name-color: #58300D;
    --bg-color: #0A082D;
    --bg-color-2: #232055;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 1.125;
}

body, html {
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

html {
    background: radial-gradient(var(--bg-color),var(--bg-color-2));
    background-attachment: fixed;
}

body {
    position: relative;
    z-index: -5;
}

::selection {
    background-color: var(--bg-tile);
    color: var(--namebg-right);
}

.text-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
    overflow-x: hidden;
}

.text-container {
    position: relative;
    margin: 0 100px 30px 100px;
    max-width: var(--text-container-width);
    width: 100%;
    padding-top: 400px;
}

.main-text {
    max-width: var(--text-container-width);
    width: 100%;
    height: var(--text-container-height);
    background: radial-gradient(var(--textbg-inner), var(--textbg-outer));
    border-radius: 8px;
    padding: 16px 32px;
    color: var(--font-color);
    font-family: fot-chiaro-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text::before {
    content: "";
    background: linear-gradient(to right, var(--namebg-left), var(--namebg-right));
    max-width: var(--text-container-width);
    width: 100%;
    height: var(--text-container-height);
    transform: rotate(5deg);
    left: 10px;
    top: -25px;
    position: absolute;
    border-radius: 8px;
    z-index: -2;
}

.main-text::after {
    content: "";
    background-color: var(--bg-tile);
    max-width: var(--bg-tile-width);
    width: 100%;
    height: var(--bg-tile-height);
    transform: rotate(6deg);
    left: 50px;
    top: -30px;
    position: absolute;
    border-radius: 8px;
    z-index: -3;
}

.anki-button {
    font-size: 20px;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    width: 200px;
    align-self: flex-end;
    background-color: var(--namebg-right);
    color: var(--font-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.anki-button:hover {
    background-color: var(--bg-tile);
    color: var(--char-name-color);
}

.char-name {
    position: absolute;
    top: -45px;
    color: var(--char-name-color);
    font-size: 2rem;
}

.char-name:has(.migaku-sentence) {
    top: -65px;
}

.char-text {
    font-size: 2.5rem;
}

.char-image {
    position: absolute;
    top: 50px;
    right: 0;
}


.pagination {
    z-index: 250000;
    position: absolute;
    pointer-events: none;
}

.pagination-controls-container {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: center;
    bottom: 0;
    pointer-events: auto;
    padding-top: 100px;
}

.pagination-controls-container:hover > div {
    transform: translateY(-25px);
}

.pagination-controls {
    border-radius: 8px;
    background-color: rgba(255,255,255,.25);
    color: var(--char-name-color);
    pointer-events: auto;
    transition: all .15s ease-in-out;
    transform: translateY(40px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-controls.controls-show {
    transform: translateY(-25px);
}

.pagination-controls input {
    border: none;
    border-radius: 8px;
    color: var(--char-name-color);
    width: 100px;
    padding: 8px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.pagination-controls button {
    border: none;
    background: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-controls {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-move {
    height: 100vh;
    display: flex;
    align-items: center;
    width: 150px;
    opacity: 0;
    transition: all .15s ease-in-out;
    pointer-events: auto;
}

.page-move:hover {
    opacity: 1;
}

.page-left {
    justify-content: flex-start;
    /* transition: background .15s ease-in-out; */
    background: linear-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0));
}

.page-left:hover {
    background: linear-gradient(to right, rgba(1, 1, 1, .25), rgba(1, 1, 1, 0));
    cursor: pointer;
}

.page-right {
    justify-content: flex-end;
    /* transition: background .15s ease-in-out; */
    background: linear-gradient(rgba(1, 1, 1, 0), rgba(1, 1, 1, 0));
}

.page-right:hover {
    background: linear-gradient(to left, rgba(1, 1, 1, .25), rgba(1, 1, 1, 0));
    cursor: pointer;
}

.search {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999999;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: fixed;
}

.text-search {
    pointer-events: auto;
    border-radius: 8px;
    border: none;
    font-size: 24px;
    padding: 8px;
    width: 500px;
    position: relative;
}

.text-search::before {
    content: "Hello!";
    position: absolute;
    background-image: "images/icons/search.svg";
    right: -14px;
}

.search-results-container {
    max-width: 800px;
    width: 100%;
    border-radius: 16px;
    overflow-y: scroll;
    pointer-events: auto;
    background-color:rgba(255, 255, 255, .5);
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
}

.search-result {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: radial-gradient(var(--textbg-inner), var(--textbg-outer));
    margin-bottom: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.search-result * {
    font-size: 20px;
    font-family: fot-chiaro-std, sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
}

.search-result-character {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100px;
}

.search-result-character-image {
    max-width: 75px;
}

.search-result-character-image > img {
    max-width: 100%;
}

.search-result-text,
.search-highlighted,
.search-result-character-name {
    color: var(--font-color);
    text-align: left;
}

.search-result-character-name {
    font-size: 16px;
}

.search-highlighted {
    color: var(--namebg-right);
}

.blue {
    color: blue;
}

.red {
    color: red;
}

.anki-connect-dialogue {
    position: fixed;
    right: 80px;
    bottom: 80px;
    z-index: 999999999;
    background-color: rgba(255,255,255,.25);
    padding: 16px;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    font-family: Arial, Helvetica, sans-serif;
    transition: opacity .6s ease-in-out;
    opacity: 0;
    display: none;
}

.anki-connect-dialogue h2 {
    font-size: 24px;
    color: var(--font-color);
    margin-bottom: 16px;
}

.anki-connect-dialogue p {
    font-size: 16px;
    max-width: 400px;
    color: var(--font-color);
    margin-bottom: 8px;
    line-height: 1.5;
}

.anki-connect-dialogue pre {
    font-size: 16px;
    color: var(--font-color);
}

.anki-connect-dialogue .buttons {
    display: flex;
    justify-content: flex-end;
}

.anki-connect-dialogue .buttons button {
    font-size: 12px;
    padding: 8px 16px;
    margin-left: 4px;
    cursor: pointer;
}

@media screen and (max-width: 1014px) {
    :root {
        --text-container-height: 125px;
        --text-container-width: 600px;
        --bg-tile-height: calc(var(--text-container-height) + 10px);
        --bg-tile-width: calc(var(--text-container-width) - 30px);
    }
    .search {
        padding: 16px;
    }

    .text-search {
        max-width: 500px;
        width: 100%;
    } 

    .text-list {
        padding: 80px 8px;
    }

    .text-container {
        padding-top: 200px;
        margin: 0;
    }

    .text-container * {
        font-size: 24px;
    }

    .char-name {
        top: -30px;
    }

    .char-image {
        right: -50px;
        top: 0;
    }

    .char-image img {
        width: 300px;
    }
}

@media screen and (max-width: 650px) {
    .anki-button {
        display: none;
    }
}
